



tr, td, th {  
    padding: 10px ;
    border :1px black solid ;
    text-align: center;
    
  } 

  /* data{
    font-family: 'Old Standard TT', serif;
    color: Thistle;
  }

  text{
    font-family: 'Josefin Sans', sans-serif;
    color:PaleVioletRed;
  }

  mark{
    font-family: 'Itim', cursive;
    color:MediumVioletRed
  }

  body{
    background-color: MistyRose;
  }
  */
table{
  /* background-color:PaleVioletRed ; */
  color:blue;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
} 
h1 a{
  color: brown;
  /* float: right;
  display: block; */

}

h1 {
  text-align: center;
  font-weight: bolder;
  color: brown;
  font-size: 60px;
  font-family: 'Itim', cursive;
}
nav img{
  margin-left: 100px;
  margin-top: -120px; 
  float:left;
  height: 100px;
  border-radius: 50%;
}
#logo{
  margin-right: 100px;
  margin-top: -120px; 
  float:right;
  height: 100px;
  border-radius: 50%;
}

a {
  color: LightSalmon;
  text-decoration: none;
}
 ul li{
  display: inline-block;
  padding-right: 60px;
  font-size: 20px;
  margin-left: 150px;
  font-size: 30px;
  font-family: 'Itim', cursive;
 }
 ul{
  color: firebrick;
 }


#intro{
  /* overflow: auto;
  width: 400px;
  height: 400px; */
  display:block;
  padding-left: 20px;
  color: brown;
  font-family: 'Itim', cursive;
  font-size: 35px;
  padding-top:30px;
  margin-top: 450px;
}

/* section{
  margin-left: auto;
  margin-right: auto;
} */
header{
  margin-left: auto;
  margin-right: auto;
}

h3{
  color: brown;
  font-family: 'Itim', cursive;
  font-size: 35px;
  margin-left: 50px;
}
ol li{
  margin-left: 50px;
  font-size: 25px;
  color:LightSalmon

 }
 div span{
  color:LightSalmon;
  overflow: auto;
  width: 400px;
  height: 400px;
  display:inline-block;
  font-family: 'Itim', cursive;
  font-size: 25px;
  margin-left: 50px;

 }

 footer{
   background-color: brown;
   height: 60px;
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   font-size: 20px;
   text-align: center;
   padding-top:30px ;
   color:LightSalmon
 }

 body{
   background-image: url(./images/Untitled.png);
   background-repeat: no-repeat;
   background-size: cover;

 }
 input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  border: 2px solid blue;

}
input[type=submit] {
  background-color: whitesmoke;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
#salesFooter{
  background-color: blue;
  height: 60px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  text-align: center;
  padding-top:30px ;
  color:whitesmoke
}
form{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  color: blue;
}
input[type=text]:hover {
background-color: blue;
color: whitesmoke;
}
input[type=submit]:hover{
  background-color: blue;
  color: whitesmoke;
}
fieldset > legend{
  margin-left: 3rem;
  border: 1px solid blue;
  background-color: blue;
  color: antiquewhite;
  border-radius: 4px;
}
fieldset {
  border-color: blue;
  border-radius: 4px;

}

.slideshow{
width: 700px;
height: 400px;
overflow: hidden;
margin-top: 300px;

}
.middle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  
}
.navigation{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.bar{
  width: 50px;
  height: 10px;
  border: 2px solid #fff;
  margin:6px;
  cursor: pointer;
  transition: 0.4s;

}
.bar:hover{
  background: #fff;
}

input[name="r"]{
position: absolute;
visibility: hidden;

}
.slides{
  width: 500%;
  height: 100%;
  display: flex;
}
.slide{
  width: 20%;
  transition: 0.6s;
}
.slide img{
  width: 100%;
  height: 100%;
  
}

#r1:checked ~ .s1{
  margin-left: 0;
}
#r2:checked ~ .s2{
  margin-left: -20%;
}
#r3:checked ~ .s3{
  margin-left: -40%;
}
#r4:checked ~ .s4{
  margin-left: -80;
}

div h2{
  color: brown;
  font-family: 'Itim', cursive;
  font-size: 35px;
  float: right;
  display: inline;
  margin-right: 200px;
  margin-top: -740px;
}
#shirtP{
  float: right;
   font-size: 25px;
   width: 350px;
  height: 350px;
  margin-right: 100px;
  overflow-x:auto ;
  display: inline;
  margin-top: -680px;
}
#shirt{
  float: right;
  display: inline;
  margin-top: -540px;
  margin-right: 100px;
 
}
button{
  background-color: brown;
  color:LightSalmon ;
border-radius: 5px;
width: 100px;
height: 50px;
float: right;
margin-top: -200px;
margin-right: 100px;
cursor: pointer;
}

button:hover{
  background-color: LightSalmon;
  color: brown;
}
#news{
  display:block;
  padding-left: 20px;
  color: brown;
  font-family: 'Itim', cursive;
  font-size: 35px;
  padding-top:30px;
  
}