



tr, td, th {  
    padding: 10px ;
    border :1px black solid ;
    text-align: center;
    
  } 

  data{
    font-family: 'Old Standard TT', serif;
    color: Thistle;
  }

  text{
    font-family: 'Josefin Sans', sans-serif;
    color:PaleVioletRed;
  }

  mark{
    font-family: 'Itim', cursive;
    color:MediumVioletRed
  }

  body{
    background-color: MistyRose;
  }
table{
  background-color:PaleVioletRed ;
  color:Thistle;
}
